.buddy-img {
    position: fixed;
    right: 0px; bottom: 0px;
    background-color:blue;
    width:100px;
    height:100px;
}

.squaresley {
    width:100px;
    height:100px;
    background-color:blue;

    position: fixed;
    left: 0px; bottom: 0px;
    z-index: 9999;  
}

#squareslo {
    position: absolute;
    left: 0px; 
    bottom: 0px;
    z-index: 9999; 
    width:150px; 
    height:150px;

    background-color:rgb(177, 161, 161);

}

#bubble-img {
    position: absolute;
    right: 0px; top: 0px;
    z-index: 10000; 
    width:150px; 
    height:150px;

    background-color:rgb(177, 161, 161);
    /*margin-right:0px;
    margin-bottom:150px;*/
}


#buddy_world {
    position: fixed; 
    right: 0px; 
    bottom: 0px;
    width: 250px; 
    height: 250px; 
    
    
    z-index: 1; 
    /*pointer-events: none;*/ /*this line prevents listeners lol*/ 
    /*background: transparent;*/
    background-color:gainsboro;
}


